@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

h3 {
  font-size: 2.6em;

  // Responsive petit écran
  @media (min-width: 370px) {
    font-size: 1.5em;
  }
}

span {
  color: $primaryColor;
}

.btn-1 {
  padding: 15px 28px;
  background-color: $backgroundColor;
  color: $secondaryColor;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 1.1em;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-1:hover {
  background-color: $secondaryColor;
  color: $backgroundColor;
  border: 2px solid $backgroundColor;
}

.btn-2 {
  padding: 15px 28px;
  background-color: $primaryColor;
  color: $secondaryColor;
  border: 2px solid $backgroundColor;
  border-radius: 8px;
  font-size: 1.1em;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-2:hover {
  background-color: $secondaryColor;
  color: $primaryColor;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  padding: 35px 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  // Responsive petit écran
  @media (min-width: 370px) and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  // Responsive moyen écran
  @media (min-width: 769px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }

  .logo {
    font-size: 1.5em;
    color: $secondaryColor;
    font-weight: 600;
    transition: 0.3 ease;
    text-decoration: none;
  }

  .logo:hover {
    color: $primaryColor;
    text-shadow: 0 0 25px $primaryColor, 0 0 50px $primaryColor;
    transform: scale(1.1);
  }

  .navbar {
    position: relative;
    // Responsive petit écran
    @media (min-width: 370px) and (max-width: 768px) {
      display: none;
      text-align: center;
    }

    // Responsive moyens écran
    @media (min-width: 768px) and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
    }

    a {
      font-size: 18px;
      color: $secondaryColor;
      font-weight: 500;
      margin: 0 20px;
      border-bottom: 3px solid transparent;
      transition: 0.3s ease;
      text-decoration: none;

      // Responsive petit écran
      @media (min-width: 370px) and (max-width: 768px) {
        margin-top: 2vh;
        margin-bottom: 2vh;
        display: block;
      }

      // Responsive moyens écran
      @media (min-width: 768px) and (max-width: 1024px) {
        margin-top: 2vh;
      }
    }

    a:hover,
    a.active {
      color: $primaryColor;
      border-bottom: 3px;
    }

    .contact {
      padding: 10px 28px;
      background-color: $backgroundColor;
      border: 2px solid transparent;
      border-radius: 8px;
      font-size: 18px;
      letter-spacing: 1px;
      font-weight: 600;
      transition: 0.3s ease;
      text-decoration: none;
    }

    .contact:hover {
      background-color: $primaryColor;
      box-shadow: 0 0 25px $primaryColor;
      color: $secondaryColor;
    }

    .weather {
      font-size: 1.5em;
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      margin-left: 20px;
    }
  }
  .icon {
    width: 5%;
    text-align: center;
    display: none;
    color: $secondaryColor;
    background-color: $backgroundColor;

    // Responsive petit écran
    @media (min-width: 370px) and (max-width: 768px) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9999;
    }
  }
}

.home {
  width: 100%;
  min-height: 100vh;
  background: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  gap: 7em;
  padding: 30px 12% 0;

  // Responsive petit écran et tablette
  @media (min-width: 370px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 3vh;
  }

  .home-content {
    max-width: 800px;

    // Responsive petit écran
    @media (min-width: 370px) and (max-width: 768px) {
      width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      font-size: 3.8em;
      line-height: 1.2;

      // Responsive petit écran
      @media (min-width: 370px) and (max-width: 768px) {
        font-size: 2em;
        text-align: center;
      }
    }

    p {
      font-size: 1.1em;
      text-align: justify;
      margin: 25px 0 30px;
    }

    .btn-box {
      width: 500px;
      display: flex;
      gap: 2em;

      // Responsive petit écran
      @media (min-width: 370px) and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        width: 250px;
      }
    }
  }

  .img-box {
    width: 550px;
    height: 550px;
    overflow: hidden;

    // Responsive petit écran
    @media (min-width: 370px) and (max-width: 768px) {
      margin-top: 10vh;
      width: 300px;
      height: 300px;
    }

    // Responsive moyens écran
    @media (min-width: 768px) and (max-width: 1024px) {
      margin-top: 45vh;
      width: 400px;
      height: 400px;
    }
  }

  .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10% 8%;
  gap: 10em;
  background: $backgroundColor;

  .skills-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // Responsive petit écran
    @media (min-width: 370px) and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    // Responsive moyens écran
    @media (min-width: 768px) and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .skills-img {
      position: relative;
      width: 45%;
      height: 550px;
      overflow: hidden;
      box-shadow: 0 0 25px $primaryColor, 0 0 50px $primaryColor;
      border-radius: 50%;

      // Responsive petit écran
      @media (min-width: 370px) and (max-width: 768px) {
        width: 300px;
        height: 300px;
        margin-bottom: 3vh;
      }

      // Responsive moyens écran
      @media (min-width: 768px) and (max-width: 1024px) {
        margin-bottom: 3vh;
        width: 400px;
        height: 400px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .skills-title {
      display: flex;
      align-items: center;
      flex-direction: column;

      h2 {
        font-size: 2.6em;
        color: $secondaryColor;
        text-align: left;
        // Responsive petit écran
        @media (min-width: 370px) and (max-width: 768px) {
          font-size: 2em;
        }
      }

      h3 {
        font-size: 3.5em;
        color: $secondaryColor;
        padding-bottom: 10vh;
        // Responsive petit écran
        @media (min-width: 370px) and (max-width: 768px) {
          font-size: 1.5em;
          text-align: center;
          padding-bottom: 5vh;
        }

        // Responsive moyens écran
        @media (min-width: 768px) and (max-width: 1024px) {
          text-align: center;
          font-size: 2.5em;
        }
      }

      .oneSkill-container {
        margin-bottom: 2vh;

        // Responsive petit écran
        @media (min-width: 370px) and (max-width: 768px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 3vh;
        }

        h5 {
          color: $secondaryColor;
          font-size: 2em;
          padding-bottom: 3vh;
          text-align: center;
          // Responsive petit écran
          @media (min-width: 370px) and (max-width: 768px) {
            font-size: 1.5em;
          }
        }

        h6 {
          color: $secondaryColor;
          font-size: 1.5em;

          // Responsive petit écran
          @media (min-width: 370px) and (max-width: 768px) {
            font-size: 1em;
          }
        }

        .progress-bar {
          position: relative;
          width: 500px;
          height: 30px;
          border-radius: 30px;
          background-color: $primaryColor;
          box-shadow: 3px 4px 5px 0px rgba(204 185 185 / 0.75);

          // Responsive petit écran
          @media (min-width: 370px) and (max-width: 768px) {
            width: 300px;
          }

          span {
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            color: $secondaryColor;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.7;
            text-align: center;
            border-radius: 30px;
            background: linear-gradient(
              90deg,
              rgba(76, 175, 80, 1) 50%,
              rgba(50, 222, 132, 1) 100%
            );
            transition: width 1.5s linear;
          }
        }
      }
    }
  }

  .experience {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 2.6em;
      color: $secondaryColor;
      text-align: center;
      padding-bottom: 3vh;
    }

    .allExperiences {
      display: grid;
      grid-template-columns: 33% 33% 33%;

      // Responsive petit écran
      @media (min-width: 370px) and (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }

      // Responsive moyens écran
      @media (min-width: 768px) and (max-width: 1024px) {
        display: flex;
        flex-direction: column;
      }

      .wrapper {
        width: 35%;
        height: 40vh;
        padding-right: 5vh;

        // Responsive petit écran
        @media (min-width: 370px) and (max-width: 768px) {
          width: 90%;
          margin: auto;
        }

        .img-experience {
          width: 500px;
          position: relative;

          // Responsive petit écran
          @media (min-width: 370px) and (max-width: 768px) {
            width: 350px;
          }

          img {
            width: 100%;
            display: block;
            margin: auto;
          }

          .content {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background: rgba(0, 0, 0, 0.6);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            transition: 0.6s;

            h1 {
              font-size: 2em;
              color: $secondaryColor;
              margin-bottom: 15px;

              // Responsive petit écran
              @media (min-width: 370px) and (max-width: 768px) {
                font-size: 1.5em;
                text-align: center;
              }
            }

            .icons {
              display: flex;
              justify-content: space-between;

              a {
                font-size: 1.5em;
                color: $secondaryColor;
                border: 2px solid $primaryColor;
                width: 40px;
                height: 40px;
                line-height: 38px;
                display: inline-block;
                text-align: center;
                border-radius: 50%;
                margin: 0 8px;
                box-shadow: inset 0 0 10px $primaryColor, 0 0 10px $primaryColor;
                transition: 0.3s ease;
              }
            }
          }

          .content:hover {
            opacity: 1;
          }

          .content > * {
            transform: translateY(25px);
            transition: transform 0.6s;
          }

          .content:hover > * {
            transform: translateY(0px);
          }
        }
      }
    }
  }
}

.contact-form {
  h2 {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 2.25em;
  }

  form {
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;

    // Responsive petit écran
    @media (min-width: 370px) and (max-width: 768px) {
      width: 21em;
    }

    // Responsive moyens écran
    @media (min-width: 768px) and (max-width: 1024px) {
      width: 45em;
    }

    .input-box {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .input-box input,
    textarea {
      width: 100%;
      padding: 1.5em;
      font-size: 1.1em;
      color: $backgroundColor;
      background: rgb(241, 241, 241);
      border-radius: 0.8rem;
      margin: 1rem 0;
      resize: none;
    }
  }
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: $backgroundColor;

  .social {
    text-align: center;
    padding-bottom: 1.5em;
    color: $secondaryColor;

    a {
      font-size: 1.5em;
      color: $secondaryColor;
      border: 2px solid $primaryColor;
      width: 40px;
      height: 40px;
      line-height: 38px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      margin: 0 8px;
      box-shadow: inset 0 0 10px $primaryColor, 0 0 10px $primaryColor;
      transition: 0.3s ease;
    }

    a:hover {
      transform: scale(1.2) translateY(-10px);
      color: $primaryColor;
      border: 2px solid $primaryColor;
    }
  }

  .list {
    margin-top: 0;
    padding: 0;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;

    // Responsive petit écran
    @media (min-width: 370px) and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    li {
      display: inline-block;
      padding: 0 15px;

      // Responsive petit écran
      @media (min-width: 370px) and (max-width: 768px) {
        margin-bottom: 3vh;
      }

      a {
        color: $secondaryColor;
        border-bottom: 3px solid transparent;
        transition: 0.3s ease;
        text-decoration: none;
      }

      a:hover {
        border-bottom: 3px solid $primaryColor;
      }
    }
  }

  .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 0.75em;
    color: $secondaryColor;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: $primaryColor;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px;
}

.scroll-to-top {
  position: fixed;
  bottom: 2vh;
  right: 2vh;
  display: none;
  width: 40px;
  height: 4vh;
  background-color: $primaryColor;
  border-radius: 20px;
  text-align: center;
  line-height: 4vh;
  color: #fff;
}

.scroll-to-top:hover {
  transition-duration: 0.4s;
  background-color: $backgroundColor;
}

.scroll-to-top.show {
  display: block;
}
